{% extends 'blog_base.html' %}

{% block title %}
Blog | Post Details - {{ post.title }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="post-entry">
        <a href="#"><h5>{{ post.title }}</h5></a>
        <p><strong>Content: </strong> {{ post.body }}</p>
        <p><strong>Author: </strong> {{ post.author.user.first_name }} {{ post.author.user.last_name }}</p>
        <p><strong>Author's Username: </strong> {{ post.author }} </p>
        <p><strong>Author's Email Address: </strong> {{ post.author.user.email }} </p><br>
        <p><strong>Created At: </strong> {{ post.created_at }}</p>
        <p><strong>Updated At: </strong> {{ post.updated_at }}</p><br><br>
        <hr>
    </div>
</div>
{% endblock %}